body {
  margin: 0 auto;
  font-size: 20px;
}

#container {
  margin: 5% 10%;
}

li {
  list-style: none;
  margin-bottom: 1em;
}

input[type=text] {
  width: 300px;
  height: 24px;
}

#create-account {
  float: left;
  width: 45%;
}

#bank {
  float: left;
  width: 40%;
  text-align: center;
}

#account {
  float: left;
  width: 30%;
}

#account-name {
  float: left;
  width: 20%;
  padding: 2em 0 0 4em;
}

#account-balance {
  float: left;
  width: 20%;
  padding: 2em 0 0 4em;
}

#account-modal {
  position: absolute;
  width: 50%;
  top: 15%;
  left: 25%;
  border: 1px #222 solid;
}

#deposit {
  clear: both;
  padding: 4em 0 0 4em;
}

#withdrawal {
  padding: 4em 0 0 4em;
  padding-top: 10%;
}

#cancel-modal {
  clear: both;
  float: right;
  margin: 2em 10% 2em 0;
  font-size: 1.3em;
}
